<footer>
    <p>Desenvolvido por Erika Leão / 
        <a href="https://github.com/leaoerikaleao">GitHub</a> /
        <a href="https://www.linkedin.com/in/leaoerikaleao/">Linkedin</a>
    </p>
</footer>

</body>

</html>