<%- include('header') %>

    <form method="GET" action="/cotacao">
        <select name="currencys">
            <% Object.keys(allCurrency).map((item)=> { %>
                <option value=<%=item %>>
                    <%= allCurrency[item].name %>
                </option>
                <% })%>
        </select>

        <input name="amount" placeholder="Quantidade que deseja converter" required="required" type="number" />

        <button>CONVERTER</button>
    </form>

    <%- include('footer') %>