
body{
    text-align: center;
}

h1 img{
    width: 300px;
    margin: 20px;
}


input{
    display: block;
    border: 1px solid #000000;
    background: #fdfdfd;
    font-size: 24px;
    padding: 10px;
    margin: 10px;
    margin-left: auto;
    margin-right: auto; 
}

button{
    border: 1px solid #000000;
    background: #d8d8d8;
    font-family: 'Titillium Web', sans-serif;
}

.btn{
    font-size: 16px;
    padding: 10px;
    margin-top: 20px;
}
.margin-r-20{
    margin-right: 20px;
}

.margin-40{
    margin: 40px;
}

.result {
    padding: 10px;
    border: 1px solid #d8d8d8;
    background: #fdfdfd;
}

.red{
    background-color: #C40000;
}
.font-white{
    color: #fff;
}