
body{
    text-align: center;
}

input, select{
    display: block;
    border: 2px solid #394148;
    background: #fdfdfd;
    padding: 5px;
    margin: 10px;
    margin-left: auto;
    margin-right: auto; 
    font-family: 'Titillium Web', sans-serif;
    
}

select:focus, input:focus{
    border: #43947a 2px solid;
    background-color: #edf8f4;
    transition: all .3s ease-in-out;
    opacity: 1;
}

button, .btn{
    border-bottom: 3px solid #2a5d4c;
    border-top:none;
    border-left: none;
    border-right: none;
    background:  #43947a;
    color:white;
    font-weight: bold;
    padding: 10px;
    margin: 10px;
    margin-left: auto;
    margin-right: auto; 
    width: 100%;
    display: block;
    font-family: 'Titillium Web', sans-serif;
}
button:hover, .btn:hover{
    border-bottom: 3px solid  #43947a ;
    border-top:none;
    border-left: none;
    border-right: none;
    background: #2a5d4c ;
    transition: all .3s ease-in-out;
    opacity: 1;
    cursor: pointer;
}
a, a:hover{
    text-decoration: none;
    font-family: 'Titillium Web', sans-serif;
}

footer{
    color: #3d444b;
    font-family: 'Titillium Web', sans-serif;
    font-size: 15px;
    bottom: 0;
    width: 100%;
    position: fixed;
    bottom:0;
    margin: 0;
}

footer a, footer a:hover, footer a:focus{
    color: #3d444b
}

.result {
    padding: 10px;
    font-family: 'Titillium Web', sans-serif;
    margin-left: auto;
    margin-right: auto; 
}

.bold{
    font-weight: bold;
}


@media screen and (min-width: 769px) {
    h1 img{
        width: 380px;
        margin-top: 50px;
    }
    
    input, select, button, .result {
        width: 45%;
        font-size: 16px;

    }
}


@media screen and (min-device-width: 481px) and (max-device-width: 768px) { 
    h1 img{
        width: 380px;
        margin-top: 50px;
    }
    
    input, select, button, .result {
        width: 85%;
        font-size: 16px;

    }
}

@media only screen and (max-device-width: 480px) {
    h1 img{
        width: 780px;
        margin-top: 100px;
    }
    
    input, select, button, .result {
        width: 85%;
        font-size: 48px;
    }

    input, select {
        margin: 30px;
        margin-left: auto;
        margin-right: auto; 
    }
}